html
    head
        title My Grocery List
        link(
            rel='stylesheet'
            href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
            integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T'
            crossorigin='anonymous'

        )
    body
        nav(class='navbar navbar-light bg-light')
            a(class='navbar-brand' href='#') My Grocery List

        div(class='container pt-5 d-flex justify-content-center')
            div(class='card' style='width: 30rem;')
                div(class='card-header')
                    strong My List
                ul(class='list-group list-group-flush')
                    li(class='list-group-item') Apples
                    li(class='list-group-item') Bread
                    li(class='list-group-item') Spaghetti
                    li(class='list-group-item') Eggs